

.social {
    width: 60%;
    height: 65px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    justify-content: center;
}

.let {
    width: 23%;
    height: 100%;
    background: rgba(0, 0, 0, 0.281);
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    border-radius: 15px 15px 50px 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: aqua;
    justify-content: center;
}
.let:hover{
    background: red;
}

@media only screen and (max-width: 1000px){

    .social{
        margin: 0 auto;
        display: block;
        left: 0;
        right: 0;
        margin-top: 10px;
        width: 100%;
    }
}


.soc{
    width: 100px;
    height: 100px;
    background: red;
}
