

.social {
    width: 60%;
    height: 65px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    justify-content: center;
}

.let {
    width: 23%;
    height: 100%;
    background: rgba(0, 0, 0, 0.281);
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    border-radius: 35px 35px 35px 35px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    transition: background 0.2s linear;
}
.let:hover{
    background: rgba(199, 199, 199, 0.486);
}

.altSearch{
    width: 40%;
    height: 65px;
    border: 0;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.281);
    transition: background 0.2s linear;
    border-radius: 35px 35px 35px 35px;
    padding-bottom: 20px;
}
.altSearch:hover{
    background: rgba(58, 14, 255, 0.363);
}
.socialIcons{
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    height: 40px;
    margin-top: 12px;
}

@media only screen and (max-width: 1000px){

    .social{
        margin: 0 auto;
        display: block;
        left: 0;
        right: 0;
        margin-top: 10px;
        width: 100%;
    }
    .altSearch{
       width: 60%;
       margin-left: 20%;
       margin-right: 20%;
    }
}