body{
	background-image:url(https://funart.pro/uploads/posts/2021-04/1617357584_24-p-oboi-samie-krasivie-ozera-26.jpg);
    padding: 10px 10px 10px 10px;

}

.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;

}






/* logo mini */
.contentLogoImg {
    width: 1134px;
    position: absolute;
    margin: 0 auto;
    top: 340px;
    left: 0;
    right: 0;
}
.logo-min{
    width: 60px;
    height: 100%;
    background-image: url("../img/mini_logo.png");
    background-size: cover;
}

/* big logo */
.contentLogoText {
    width: 1450px;
    height: 60px;
    position: absolute;
    margin: 0 auto;
    top: 340px;
    left: 0;
    right: 0;
}

.logo-text{
    width: 220px;
    height: 100%;
    left: 0;
    background-image: url("../img/big_logo.png");
    background-size: cover;
}