.settings{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    max-width: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.281);
    border-radius: 25px 25px 25px 25px;
}
  
.settingBodyBig{
    float: left;
    width: 48%;
    height: 87%;
    margin:20px 20px 0 20px;
    background: rgb(103 103 103 / 15%);
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
  }
.settingBodyMin{
    float: right;
    width: 20%;
    height: 87%;
    margin:20px 20px 20px 20px;
    background: rgb(103 103 103 / 15%);
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    text-align: center;
}
@media only screen and (max-width: 1000px){
   .settings {
background: rgba(0, 0, 0, 0);
}


 .settingBodyBig{
      width: 95%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 2.5%;
      margin-right: 2.5%;
        
      }
    .settingBodyMin{
        width: 45%;
        margin-top: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        justify-content: center;
        text-align: center;
      }
}



.backgroundChange{
    width: 95%;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-block;

}
