.settings{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    max-width: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.281);
    border-radius: 25px 25px 25px 25px;
}
  
.settingBodyBig{
    float: left;
    width: 48%;
    height: 87%;
    margin:20px 20px 0 20px;
    background: rgba(0, 0, 0, 0.281);
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
  }
.settingBodyMin{
    float: right;
    width: 20%;
    height: 87%;
    margin:20px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.281);
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    text-align: center;
}
@media only screen and (max-width: 1000px){
   .settings {
background: rgba(0, 0, 0, 0);
}


 .settingBodyBig{
      width: 95%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 2.5%;
      margin-right: 2.5%;
        
      }
    .settingBodyMin{
        width: 45%;
        margin-top: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        justify-content: center;
        text-align: center;
      }
}

.backgroundChange {
  width: 95%;
  margin-top: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
  background: linear-gradient(to top right, #ffa0a09c 0%, #7b6dff83 100%);
  height: 51px;
  border: 0;
  color: rgb(221, 221, 221);
  font-size: 15px;
  font-style: oblique;
  text-align: center;
  border-radius: 20px;
  transition: background 0.3s linear;
}.backgroundChange:hover{
  background: rgba(26, 255, 114, 0.699);
  color: rgb(24, 24, 24);
}


.searchChange{
  width: 95%;
  margin-top: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
  background: linear-gradient(to top right, #ff9595b0 0%, #bdffc0c4 100%);
  height: 51px;
  border: 0;
  color: rgb(221, 221, 221);
  font-size: 15px;
  font-style: oblique;
  text-align: center;
  border-radius: 20px;
  transition: background 0.3s linear;
}.searchChange:hover{
  background: rgba(26, 255, 114, 0.699);
  color: rgb(24, 24, 24);
}

#buttonSearchMemory {
  visibility: hidden;
  height: 40px;
  width: 101px;
  border: 0;
  border-radius: 0 0 25px 25px;
  background: linear-gradient(to top right, #15ff00b0 0%, #e5ff00c4 100%);
  transition: background 0.3s linear;
}#buttonSearchMemory:hover{
  /* background: linear-gradient(to top right, #fffb05b0 0%, #00ff4cc4 100%); */
  background: rgb(36, 207, 64);
}
