@media only screen and (max-width: 960px){
    
    
    .header{
        height: 200px;
    }

    .search{
        height: 70px; 
    }

    
    .formInput {
    height: 62px;
    width: 87%;
    }
    .formButton{
	height: 70px;
    width: 11%;
    }




}

@media only screen and (max-width: 500px){
    
    
    .header{
        height: 200px;
    }

    .search{
        height: 70px; 
    }

    
    .formInput {
     width: 80%;
    }
    .formButton{
        width: 18%;
    }




}

@media only screen and (max-width: 300px){
    
    
    .header{
        height: 200px;
    }

    .search{
        height: 70px; 
    }

    
    .formInput {
     width: 76%;
    }
    .formButton{
        width: 22%;
    }




}
