body { 
background: url("https://tgchan.org/kusaba/quest/src/145633638739.jpg") no-repeat fixed; 
background-size: cover; 
}
.container{
	margin: 0 auto;
	width: 100%;
    height: 200vh;
    position: absolute;
    font-size: 35px;
    color: white;
    text-shadow: 6px 2px 15px rgba(119, 122, 124, 1);
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: center;
    text-align: center;
}
.mainPage{
position: absolute;
display:flex; 
top:300px;
left:0;
right:0;
margin:0 auto;
}
