body{
	background-image:url(https://oir.mobi/uploads/posts/2021-06/1623543771_1-oir_mobi-p-krasivie-vidi-gor-priroda-krasivo-foto-1.jpg);
    padding: 10px 10px 10px 10px;
}



.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
    height: 100vh;
    position: absolute;
    background: rgba(78, 78, 78, 0.479);
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: center;
    text-align: center;
}

